{% extends 'base.html' %}

{% block title %}
Paje about
{% endblock %}

{% block body %}
<div class="container pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal">A bit about the project</h1>
    <p class="fs-5 text-muted">COVID-19 and its consequences are still a bit of a touchy subject. Nonetheless, the virus
        provides a lot of interesting information which could be used to better understand and defend against the disease.</p>
    <p class="fs-5 text-muted">The point of this project was to get a unique insight of the situation and as a result
        find correlations between different metrics of the countries and COVID-19 related deaths.</p>
</div>
{% endblock %}